<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
<h2>Common info</h2>
<p>
    User: <span sec:authentication="principal.username"></span>
    <br>
    Roles: <span sec:authentication="principal.authorities"></span>
</p>
<p>
    <a th:href="@{managers}">Manager info page</a>
</p>
<p>
    <a th:href="@{admins}">Admin info page</a>
</p>
<hr>
<div>
    <span>Some test Some test Some test Some test Some test </span><br>
    <span>Some test Some test Some test Some test Some test </span><br>
    <span>Some test Some test Some test Some test Some test </span>
</div>
<hr>

<form action="#" th:action="@{logout}" method="post">
    <input type="submit" value="Exit">
</form>


</body>
</html>